@media(max-width:2000px) {

    #principal {
        width: 1850px;
        height: 1200px;
        background-color: rgb(255, 250, 243);
    }

    #menu {
        width: 1850px;
        height: 50px;
        position: relative;
        display: flex;
        background-color: rgb(253, 245, 232);
    }

    #nome {
        width: 20%;
        height: 50px;
        display: flex;
        margin-left: 50px;
    }

    .marcenaria {
        font-size: 35px;
        margin-top: 5px;
    }

    #homepage {
        width: 7%;
        height: 50px;
        display: flex;
        margin-left: 1000px;
    }

    .home {
        font-size: 20px;
        margin-top: 10px;
    }

    #produtpage {
        width: 7%;
        height: 50px;
        display: flex;
    }

    .produtos {
        font-size: 20px;
        margin-top: 10px;
    }

    #contatpage {
        width: 7%;
        height: 50px;
        margin-left: 30px;
        display: flex;
    }

    .contato {
        font-size: 20px;
        margin-top: 10px;
    }

    #pgcloset6 {
        width: 1800px;
        height: 1100px;
        margin-left: 25px;
    }

    #prod6 {
        width: 1500px;
        height: 1100px;
        margin-left: 25px;
        display: flex;
    }

    #imgprod6 {
        width: 300px;
        height: 400px;
        border: 1px solid #000;
        position: absolute;
        margin-top: 150px;
        margin-left: 250px;
    }

    .imgcloset6 {
        width: 150px;
        height: 250px;
        margin-top: 70px;
        margin-left: 80px;
    }

    #descprod6 {
        width: 600px;
        height: 400px;
        margin-top: 250px;
        margin-left: 800px;
    }

    .nomeprod6 {
        font-size: 30px;
        text-align: center;
    }

    #fichaprod6 {
        width: 400px;
        height: 300px;
        margin-top: 650px;
        margin-left: 100px;
        position: absolute;
    }

    .espprod6 {
        font-size: 25px;
    }

    .especprod6 {
        font-size: 20px;
    }

    #rodape {
        width: 1850px;
        height: 50px;
        background-color: #000;
        position: absolute;
    }

    .textorodape {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
}